# Node.js dependencies
node_modules/
.env

# Build outputs
dist/
build/
coverage/



# IDEs and editors
.vscode/
.idea/

# Miscellaneous
*.tgz
*.zip
*.rar

# Database file
database.db

# Video files
*.mp4
*.avi
*.mkv